@import './custom.css';
@tailwind base;

body {
  margin: 0;
  padding: 0;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.left-sider {
  background: #fff;
  border-right: 1px solid #e8e8e8;
}

.hotel__bg {
  background: linear-gradient(90deg, #73bcfa 0%, #fff 100%, #fff 100%);
  border: 1px solid #d6ecff;
  box-sizing: border-box;
  background-size: 100% 100%;
}

.hotel__bg-img {
  background-image: url('/assets/hotel-searchbox-bg.png');
  background-size: contain;
}

.shadow-custom {
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.recommend-text {
  color: #FF7700;
}

.login-btn-bg {
  background: #f2f8fe;
  border-radius: 16px;
  padding: 4px 8px 4px 4px;
  cursor: pointer;
  color: #000;
}

.login-btn-bg:hover i,
.login-btn-bg:hover span,
.register:hover {
  color: #0086f6 !important;
}

.center-banner .slick-dots.slick-dots-bottom {
  right: 20px;
  left: auto;
}

.slick-dots.slick-dots-bottom li {
  width: 8px;
  height: 8px;
}

.slick-dots.slick-dots-bottom li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.slick-dots.slick-dots-bottom .slick-active button {
  width: 24px;
  border-radius: 8px;
}

.right-banner .slick-dots.slick-dots-bottom {
  top: 70px;
  left: 20px;
  right: auto;
}

.mini-hotel-list {
  background-color: rgba(255, 255, 255, 0.4);
}

.left-sider,
.hotel-list-img img {
  transition: all 0.5s ease-in-out;
}

.hotel-list-img img:hover {
  transform: scale(1.1);
}

.city-select-item:hover {
  background: #f2f8fe;
}

.city-select-item.active {
  background: #e6f3fe;
}

.search-btn {
  flex: 1;
  height: 74px;
  line-height: 2;
  border: none;
  background: linear-gradient(to left, #0076f5 0%, #00a7fa 100%);
}

.custom-divider {
  justify-content: center;
  border-block-start: 0 rgba(5, 5, 5, 0.4) !important;
}

.custom-divider .ant-divider-inner-text {
  padding: 0 4px !important;
}

.custom-divider::before,
.custom-divider::after {
  width: 10px !important;
}

.menu-item:hover {
  background: #f2f8fe;
}

.menu-item-active {
  background: linear-gradient(90deg, #00a7fa 0%, #0076f5 100%) !important;
}

.menu-child-item {
  padding: 6px 0;
  padding-left: 10px;
  padding-bottom: 4px;
  margin-bottom: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: Pingfang SC,Helvetica,Helvetica Neue,Microsoft YaHei,Arial,Heiti SC,sans-serif;
  font-weight: 500;

}

.menu-child-item:hover,
.menu-child-item-active {
  color: #0086f6;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px!important;
  height: 40px!important;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.1);
}

.swiper-button-next {
  right: 28px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #333;
  font-size: 18px!important;
}

.input-city {
  margin-top: -0.2em;
  padding-left: 0;
  display: block;
}

.input-city::-webkit-input-placeholder {
  font-size: 0.8em;
  font-weight: bold;
  color: #dee4ee;
}

.input-city:-moz-placeholder {
  font-size: 0.8em;
  color: #dee4ee;
}

.input-city:-ms-input-placeholder {
  font-size: 0.8em;
  color: #dee4ee;
}

.range-picker-custom {
  padding: 0!important;
  margin-top: -0.2em;
  display: flex;
}
.range-picker-custom .ant-picker-active-bar {
  margin-inline-start: 0!important;
  bottom: -12px;
}

.hotel-level .ant-select-selection-item,
.range-picker-custom .ant-picker-input input {
  font-size: 1rem;
  font-weight: 700;
}

.range-picker-custom > div:nth-child(3) input {
  text-align: right;
}

.range-picker-custom .ant-picker-range-separator,
.range-picker-custom .ant-picker-suffix {
  display: none;
}

.hotel-level .ant-select-selector {
  padding: 0!important;
}